loguru
beeprint
Faker

# System Administration
psutil
pywifi

# File Operation
Pillow
PyMuPDF
openpyxl
lxml
html5lib
BeautifulSoup4

# Data Analysis
numpy
scipy
matplotlib
seaborn
plotly
cufflinks
pandas
bokeh
statsmodels
